<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848127765790-aobtg7cdg4mp2dob3mkq9j2upuanahmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848127765790-aobtg7cdg4mp2dob3mkq9j2upuanahmn</string>
	<key>API_KEY</key>
	<string>AIzaSyDaB36dzRuMj3NMGC7Y4xVlSS-DGbnrzWY</string>
	<key>GCM_SENDER_ID</key>
	<string>848127765790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>events.com.events</string>
	<key>PROJECT_ID</key>
	<string>events-b5975</string>
	<key>STORAGE_BUCKET</key>
	<string>events-b5975.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848127765790:ios:e070841bae9686f3</string>
	<key>DATABASE_URL</key>
	<string>https://events-b5975.firebaseio.com</string>
</dict>
</plist>